body {
  margin: 0;

  font-family: "Open Sans", sans-serif;

  background: #2c2b3d;

  min-height: 100vh;
}

.page {
  width: 1082px;
  margin: 0 auto;
  padding-top: 71px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 117px;
}

ul {
  display: flex;
  gap: 64px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  color: #ffffff;
  text-decoration: none;

  line-height: 28px;
  font-size: 14px;
  font-family: "JetBrains Mono", monospace;
  font-weight: normal;
}

main {
  display: flex;
  align-items: center;
  gap: 94px;

  margin-top: 117px;
}

.text {
  text-align: center;
}

h1 {
  font-size: 34px;
  line-height: 40px;
  color: #ffffff;

  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
}

span {
  color: #00bfa6;
  font-weight: bold;
}

section p {
  color: #c2c2c2;

  font-size: 16px;
  line-height: 28px;

  max-width: 604px;
  margin-top: 54px;
}

#line {
  justify-content: flex-start;
}

footer {
  color: #ffffff;

  font-size: 14px;
  line-height: 28px;

  align-items: center;
  text-align: center;

  font-family: "JetBrains Mono", monospace;
  font-weight: normal;
  margin-top: 130px;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

#padlock {
  position: fixed;
  bottom: 20px;
  left: 10px;
}
